<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Expo</title>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-controller="homeCtrl">
        <div class="container">
            <div class="col-sm-1 col-md-3"></div>
            <div class="col-xs-12 col-sm-10 col-md-6">
                <ul class="nav nav-pills">
<li role="presentation" class="active"><a href="/">Home</a></li>
</ul>
<div> </div>                <div class="panel panel-primary">
                    <div class="panel-body">

                        <div id="map"></div>
                        <div class="home-panel panel panel-primary" ng-show="isEventInfoShown()">
                            <div class="panel-heading">
                                <h3 class="panel-title">Event info</h3>
                            </div>
                            <div class="panel-body">
                                <p class="lead">
                                    Event: {{event.name}}<br>
                                    Expo center: {{event.hall_name}}<br>
                                    Date: {{event.start_date}}-{{event.end_date}}
                                </p>

                                <a ng-href="{{event.url}}" class="btn btn-primary">Book your place</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-3"></div>
        </div>
        <script>
                    var map;
                    var markers = [];
                    var infoWindows = [];
                            function initMap() {
                                var mapDiv = document.getElementById('map');
                                map = new google.maps.Map(mapDiv, {
                                    center: {lat: 41.299, lng: 69.2401},
                                    zoom: 13
                                });
                            }
        </script><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-7X6IMyB6cauRt5SkduIOjFdCg5g4H0s&amp;callback=initMap"></script><script src="bower_components/jquery/dist/jquery.min.js"></script><script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script src="bower_components/angularjs/angular.min.js"></script><script src="scripts/home.js"></script>
</body>