#map {
    width: 100%;
    height: 400px;
}

div.hall-stands {
    position: relative;
}

div.hall-stands div.clickable {
    cursor: pointer;
}

div.hall-stands div {
    position: absolute;
    border: 1px solid black;
}

div.hall-stands div.stand-price, div.company-logo, div.company-document {
    width: 100%;
    text-align: center;
    border: 0px;
}

div.hall-stands div.stand-title{
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: none;
}

div.hall-stands div.company-logo {
    border: none;
}

div.hall-stands div.company-document {
    border: none;
    bottom: 0px;
}

.book-hall-stands {
    text-align: center;
}

.book-hall-stands img {
    width: 60%;
}

.expo-container {
    width: 680px;
    margin: 10px auto;
}

.stand-image {
    width:100%;
}

.home-panel {
    margin-top: 20px;
    margin-bottom: 0px;
}

.container {
    margin-top: 15px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.loader{
    width: 44px;
    height: 44px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px; /* negative half the size of height */
    margin-left: -22px; /* negative half the size of width */
}

div.hall-stands .booked {
    background: #ddd;
    border: none;
}

div.hall-stands .company-contact {
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: none;
    bottom: -24px;
    line-height: 14px;
    position: absolute;
    white-space:nowrap;
}

.tail {
    height: 150px;
}